@font-face {
  font-family: snack-bowl;
  src: url('fonts/Snack\ bowl.otf');
}

@font-face {
  font-family: bebas-neue;
  src: url('fonts/BebasNeue-Regular.ttf');
}

@font-face {
  font-family: typewriter;
  src: url('fonts/Moms_typewriter.ttf');
}

html, body {
  height: 100%;
  width: 100%;
}

html, body, p {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-board {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3,1fr) / repeat(3,1fr);
  gap: 5px;
  margin-bottom: 20px;
}

.game-board div {
  background-color: aquamarine;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: snack-bowl;
  font-size: 55pt;
}

.game-interface {
  display: grid;
  grid-template: 1fr auto auto auto / repeat(2,1fr);
  grid-auto-flow: column;
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.game-interface * {
  font-family: bebas-neue; 
  font-size: 2rem;
}

.game-interface button {
  height: 3rem;
  border-radius: 20px;
  padding: 0 20px;
  background-color: rgb(150, 135, 250);
  color: white;
}

.game-messages {
  grid-area: 1 / 1 / 2 / -1;
}

.game-options {
  grid-area: 2 / 1 / 3 / -1;
  margin: 20px 0;
}